/* Add your custom styles here */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.header-hero-container {
  background: linear-gradient(45deg, #1C3A7A, #162F6A);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  position: relative;
}

header a.logo {
  color: #fff;
  font-size: 1.5rem;
}

header a.logo img {
  max-height: 40px;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin-left: 1rem;
}

header ul li a {
  color: #fff;
}

.cta-button {
  background-color: rgba(255, 255, 255, 0.4);
  color: #1C3A7A;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0rem;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.nav-container.mobile {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  display: none;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .hamburger {
    display: flex;
  }

  header .nav-container {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  header .nav-container.mobile {
    width: 50%;
  }
}

@media (max-width: 480px) {
  header .nav-container.mobile {
    width: 100%;
  }
}
