header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1C3A7A; /* Dark Cornflower Blue */
}

header a.logo img {
  max-height: 40px; /* Adjust the logo size */
  /* Add any other styles for the logo */
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center; /* Vertically align the navigation items */
}

header ul li {
  margin-left: 1rem;
}

header ul li a {
  color: #fff;
}

.cta-button {
  background-color: rgba(255, 255, 255, 0.4); /* White with 40% transparency */
  color: #1C3A7A; /* Dark Cornflower Blue */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

